Package: gonzocache-dbgsym
Source: gonzocache
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: GonzOS Packaging <packages@gonzos.invalid>
Installed-Size: 45
Depends: gonzocache (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for gonzocache
Build-Ids: 96e936b123d7c258e048d2cd82e594d795b44ec7
